{% extends 'timezone-master/base.html' %}
{% load static %}

{% block title %}
    Cart
{% endblock title %}


{% block main %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Cart List</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================Cart Area =================-->
        <section class="cart_area section_padding">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% if cart %}
                        
                    <div id="error-message" class="text-danger"></div>
                    {% for item in cart %}
                        <tr class="product-container">
                            <td>
                                <div class="media">
                                <div class="d-flex">
                                    <img src="{{item.prod.image.url}}" alt="" />
                                </div>
                                <div class="media-body">
                                    <p>{{item.prod.pro_name}}</p>

                                </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{item.prod.price}}</h5>
                            </td>
                            <td>
                                <h5>{{item.prod.discount}}%</h5>
                            </td>
                            <td>
                                <div class="my-3">
                                    <a class="minus-cart btn btn-sm" pid="{{item.prod.id}}">-</a>
                                    <span id="quantity">{{item.quantity}}</span>
                                    <a class="plus-cart btn" pid="{{item.prod.id}}">+</a>
                                </div>
                            </td>
                            <td>
                                <a class="remove-cart btn" pid="{{item.prod.id}}">X</a>
                            </td>                           
                        </tr>
                        
                    {% endfor %}
                    

                    <tr class="bottom_button">
                        <td>
                            <a class="btn_1" href="{% url 'show-cart' %}">Update Cart</a>
                            <a class="btn_1" href="{% url 'checkout' %}">Checkout</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="cupon_text float-right">
                                <h5 id="totalamount">${{amount}}</h5>
                            </div>
                        </td>
                    </tr>
                    {% else %}
                        <h3>There is nothing in your cart</h3>
                    {% endif %}
                        
                </tbody>
                </table>
                <!-- Hiển thị phân trang -->
                <div class="pagination">
                    <span class="step-links">
                        {% if cart.has_previous %}
                            <a class="text-danger" href="?page=1">&laquo; first</a>
                            <a class="text-danger" href="?page={{ cart.previous_page_number }}">previous</a>
                        {% endif %}

                        <!-- Hiển thị số trang giới hạn -->
                        {% if page_obj.paginator.num_pages > 10 %}
                            {% if page_obj.number > 5 %}
                                <span>...</span>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                    {% if page_obj.number == i %}
                                        <span class="current">{{ i }}</span>
                                    {% else %}
                                        <a href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.paginator.num_pages > page_obj.number|add:'5' %}
                                <span>...</span>
                            {% endif %}
                        {% else %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <span class="current">{{ i }}</span>
                                {% else %}
                                    <a href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if cart.has_next %}
                            <a class="text-danger" href="?page={{ cart.next_page_number }}">next</a>
                            <a class="text-danger" href="?page={{ cart.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

            </div>
            </div>
        </section>
        <!--================End Cart Area =================-->
    </main>
{% endblock main %}
    