{% extends 'timezone-master/base.html' %}
{% load static %}

{% block title %}
    Search 
{% endblock title %}
    
{% block main %}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Mobile Shop</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Latest Products Start -->
    <section class="popular-items latest-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row" id="search-results">
                                
                                {% for prod in products %}
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="popular-img">
                                                <img src="{{prod.image.url}}" alt="">
                                                <div class="img-cap">
                                                    <form action="/add-to-cart" class="">
                                                        <input type="hidden" name="prod_id" value="{{prod.id}}">
                                                        <button type="submit" class="btn btn-primary d-block w-100">Add to cart</button>
                                                    </form>
                                                </div>
                                               
                                            </div>
                                            <div class="popular-caption">
                                                <h3><a href="{% url 'product-details' prod.id %}">{{prod.pro_name}}</a></h3>
                                                {% if prod.discount > 0 %}
                                                    <span class="text-danger">$ {{prod.price}}</span>
                                                    <span class="text-danger">Discount: {{prod.discount}}%</span>
                                                {% else %}
                                                    <span class="text-danger">$ {{prod.price}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endfor %}
                                    
                            </div>
                            <!-- Hiển thị phân trang -->
                            <div class="pagination">
                                <span class="step-links">
                                    {% if products.has_previous %}
                                        <a class="text-danger" href="/advanced_search/?pro_name={{ request.GET.pro_name }}&brand={{ request.GET.brand }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page=1">&laquo; first</a>
                                        <a class="text-danger" href="/advanced_search/?pro_name={{ request.GET.pro_name }}&brand={{ request.GET.brand }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page={{ products.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <!-- Hiển thị số trang -->
                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}
                                            <span class="current">{{ i }}</span>
                                        {% else %}
                                            <a class="text-danger" href="/advanced_search/?pro_name={{ request.GET.pro_name }}&brand={{ request.GET.brand }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% endfor %}

                                    {% if products.has_next %}
                                        <a class="text-danger" href="/advanced_search/?pro_name={{ request.GET.pro_name }}&brand={{ request.GET.brand }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page={{ products.next_page_number }}">next</a>
                                        <a class="text-danger" href="/advanced_search/?pro_name={{ request.GET.pro_name }}&brand={{ request.GET.brand }}&min_price={{ request.GET.min_price }}&max_price={{ request.GET.max_price }}&page={{ products.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- End Nav Card -->
                </div>
                <div class="col-md-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form method="GET" action="/advanced_search" id="search-form">
                                <div class="form-group">
                                    <label for="pro_name">Pro name</label>
                                    <input type="text" class="form-control" name="pro_name" id="pro_name" placeholder="Enter the product name">
                                </div>
                                <div class="form-group">
                                    <label for="brand">Brand</label>
                                    <input type="text" class="form-control" name="brand" id="brand" placeholder="Enter the brand">
                                </div>
                                <div class="form-group">
                                    <label for="min_price">Min price</label>
                                    <input type="text" class="form-control" name="min_price" id="min_price" placeholder="Enter min price">
                                </div>
                                <div class="form-group">
                                    <label for="max_price">Max price</label>
                                    <input type="text" class="form-control" name="max_price" id="max_price" placeholder="Enter max price">
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                            
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                
                                {% for brand in  brands%}
                                    <li>
                                        <a href="{% url 'brand' brand.id %}" class="d-flex">
                                            <p>{{brand.brand_name}}</p>
                                        </a>
                                    </li>                               
                                {% endfor %}
                                
                            </ul>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Products End -->
    <!--? Shop Method Start-->
    <div class="shop-method-area">
        <div class="container">
            <div class="method-wrapper">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-package"></i>
                            <h6>Free Shipping Method</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-unlock"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div> 
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-method mb-40">
                            <i class="ti-reload"></i>
                            <h6>Secure Payment System</h6>
                            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Method End-->
</main>
{% endblock main %}

