{% extends 'timezone-master/base.html' %}
{% load static %}

{% block title %}
    Avatar
{% endblock title %}


{% block main %}
<main>
    <div class="container my-5">
        <div class="row">
            
            <div class="col-md-2 border-right border-danger">
                <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
                <div class="row">
                    <div class="col">
                        <a href="{% url 'profile' %}" class="btn w-100">Profile</a>
                    </div>
                    <div class="col mt-2">
                        <a href="{% url 'address' %}" class="btn w-100">Address</a>
                    </div>
                    <div class="col mt-2">
                        <a href="{% url 'avatar' %}" class="btn w-100">Avatar</a>
                    </div>
                </div>
                            
            </div>

            <div class="col-md-8 offset-md-1">
                
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card m-2">
                                <div class="card-body">
                                    {% if ava.image %}
                                        <div class="avatar-container">
                                            <img src="{{ ava.image.url }}" alt="Avatar" class="img-fluid">
                                        </div>
                                    {% else %}
                                        <p>No avatar available</p>
                                    {% endif %}
                                    <a href="{% url 'updateAvatar' pk=ava.id %}" class="btn" type="button">Update</a>
                                    <a href="{% url 'deleteAvatar' pk=ava.id %}" class="btn" type="button">Delete</a>
                                </div>
                            </div>
                        </div>                    
                    </div>                
            </div>
            

                {% if messages %}                     
                    {% for msg in messages %}
                        <div class="alert alert-{{msg.tags}}" role="alert">{{msg}}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
</main>
{% endblock main %}
    