{% extends 'timezone-master/base.html' %}
{% load static %}

{% block title %}
    Create Address
{% endblock title %}


{% block main %}
<main>
    <div class="container my-5">
        <div class="row">
            
            <div class="col-md-2 border-right border-danger">
                <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
                <div class="row">
                    <div class="col mt-2">
                        <a href="{% url 'address' %}" class="btn w-100">Address</a>
                    </div>
                    <div class="col mt-2">
                        <a href="{% url 'avatar' %}" class="btn w-100">Avatar</a>
                    </div>
                </div>
                            
            </div>

            <div class="col-md-8 offset-md-1">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputNamel4">First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputMobile4">Last Name</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">Address</label>
                            {{ form.address }}
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState" class="d-block">Date of Birth</label>
                            {{ form.date_of_birth }}
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Phone</label>
                            {{ form.phone }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}                            
                    {% endif %}

                    {% if messages %}                     
                        {% for msg in messages %}
                            <div class="alert alert-{{msg.tags}}" role="alert">{{msg}}</div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    
</main>
{% endblock main %}
 