{% extends 'timezone-master/base.html' %}
{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block main %}
<main>
    <div class="container my-5">
        <div class="row">
            
            <div class="col-md-2 border-right border-danger">
                <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn w-100">Change Password</a>
                    </div>
                </div>
                            
            </div>

            <div class="col-md-8 offset-md-1">
                <form action="" method="post">
                    {% csrf_token %}
                    
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    {% endfor %}
                        
                    
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}                            
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    
</main>
{% endblock main %}