{% extends 'timezone-master/base.html' %}
{% load static %}

{% block title %}
    Wishlist
{% endblock title %}
    
{% block main %}
<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Mobile Shop</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <!-- Latest Products Start -->
    <section class="popular-items latest-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                
                                {% for prod in products %}
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-6">
                                        <div class="single-popular-items mb-50 text-center">
                                            <div class="popular-img">
                                                <img src="{{prod.prod.image.url}}" alt="">
                                                
                                                <div class="favorit-items">
                                                    <span class="flaticon-heart"></span>
                                                </div>
                                            </div>
                                            <div class="popular-caption">
                                                <h3><a href="{% url 'product-details' prod.prod.id %}">{{prod.prod.pro_name}}</a></h3>
                                                {% if prod.prod.discount > 0 %}
                                                    <span class="text-danger">$ {{prod.prod.price}}</span>
                                                    <span class="text-danger">Discount: {{prod.prod.discount}}%</span>
                                                {% else %}
                                                    <span class="text-danger">$ {{prod.prod.price}}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endfor %}
                                    
                            </div>
                            <!-- Hiển thị phân trang -->
                            <div class="pagination">
                                <span class="step-links">
                                    {% if products.has_previous %}
                                        <a class="text-danger" href="?page=1">&laquo; first</a>
                                        <a class="text-danger" href="?page={{ products.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <!-- Hiển thị số trang -->
                                    {% for i in products.paginator.page_range %}
                                        {% if products.number == i %}
                                            <span class="current">{{ i }}</span>
                                        {% else %}
                                            <a class="text-danger" href="?page={{ i }}">{{ i }}</a>
                                        {% endif %}
                                    {% endfor %}

                                    {% if products.has_next %}
                                        <a class="text-danger" href="?page={{ products.next_page_number }}">next</a>
                                        <a class="text-danger" href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- End Nav Card -->
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Products End -->
    
</main>
{% endblock main %}

